nav{


display: flex;
justify-content: space-between;
align-items: center;
margin: 0 200px;

}
.span{

    color: orangered;
}

nav > ul{

display: flex;
align-items: center;


}

a{
text-decoration: none;

justify-content: space-around;



}

li{
list-style-type: none;
justify-content: space-around;
margin-right: 50px;
padding:35px;

}

body{

font-family: 'open sans', sans-serif;

}

.nav-title{
font-size: 50px;
font-weight: 800;

color:#181818;

}

.btn-primary{

background-color: #FD6E0A;
border-radius: 5px;
border:0;
color:white;
font-size: 20px;
font-weight: 700;
padding:15px 34px;



}
/*nav ends here*/

/*header related  section*/
.header{

    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position: bottom right;

}

.banner{

padding:30px 30px 0px 150px;
display: flex;
align-items: center;
justify-content: space-between;


}

.banner-content{

width:500px;

}

.profile-pic{

max-width:500px;


}
.banner-greeting{

font-size: 45px;
color:#474747;
margin-bottom: 0;


}
.banner-title{
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

}

.banner-desc{

margin-bottom: 20px;

}

/* header section ends here */

/*main section starts here */




main{

max-width:1140px;
margin:0 auto;

}
.about{

padding:130px;
border-radius: 10px;
background-color: #FFF8F3;
margin: 130px 0;

}
.section-title{
color:#181818;
text-align: center;
font-family: Open sans;
font-size: 35px;

font-weight: 700;



}

.section-desc{

color:#757575;
text-align: center;
font-size: 18px;

}


.about-info-container{

display: flex;
justify-content: space-around;

}

.about-info{
text-align: center;

}

/*main section ends here */