nav{


display: flex;
justify-content: space-between;
align-items: center;

}
.span{

    color: orangered;
}

nav > ul{

display: flex;
align-items: center;


}

a{
text-decoration: none;

justify-content: space-around;



}

li{
list-style-type: none;
justify-content: space-around;
margin-right: 50px;
padding:35px;

}

body{

font-family: 'open sans', sans-serif;

}

.nav-title{
font-size: 50px;
font-weight: 800;

color:#181818;

}

.btn-primary{

background-color: #FD6E0A;
border-radius: 5px;
border:0;
color:white;
font-size: 20px;
font-weight: 700;
padding:15px 34px;



}